{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ['react-html-attrs', 'add-module-exports'],
  "env": {
    "test": {
      "presets": ["es2015", "stage-0", "react"],
      "plugins": [
        ["import-noop", {
          "extensions": ["scss", "css"]
        }]
      ]
    }
  }
}
