.statsContainer {
  margin-top: 30px;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #e2e2e2;

  ul {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;

    li {
      list-style: none;
      display: flex;
      flex-direction: column;
      flex: 1;

      h3 {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}
